<div class="destino__container">
  <img class="destino__image" src="<%= video.video_thumbnail || '/images/video_image.png' %>" alt="">
  <img class="destino__profile" src="<%= video.user_pfp || '/images/profilepic.png' %>" alt="">
  <h1 class="destino__title"><%= video.video_title %></h1>
  <div class="location">
      <img class="location__pin" src="/images/pin.png" alt="">
      <h1 class="location__text"><%= video.country_name %></h1>
  </div>
  <div class="info">
      <p class="info__author"><%= video.user_name %></p>
      <p class="info__stats"><%= video.video_views %> pessoas seguindo essa viagem</p>
  </div>
</div>