<div class="destino__container">
  <a href="/assistir/<%= video.video_id %>">
    <img class="destino__image" src="<%= video.video_thumbnail || '/images/video_image.png' %>" alt="">
  </a>

  <a href="/perfil/<%= video.user_id %>">
    <img class="destino__profile" src="<%= video.user_pfp || '/images/profilepic.png' %>" alt="Foto de <%= video.user_name %>">
  </a>

  <a href="/assistir/<%= video.video_id %>">
    <h1 class="destino__title"><%= video.video_title %></h1>
  </a>

  <div class="location">
    <img class="location__pin" src="/images/pin.png" alt="">
    <h1 class="location__text"><%= video.country_name %></h1>
  </div>

  <div class="info">
    <a class="info__author" href="/perfil/<%= video.user_id %>"><%= video.user_name %></a>
    <p class="info__stats"><%= video.video_views %> pessoas seguindo essa viagem</p>
  </div>
</div>