<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="page">
        <%- include('partials/header') %>
        <main class="content">
            <section class="profile">
                <img class="profile__banner" src="<%= user.user_banner || '/images/bnr.png' %>" alt="">
                <img class="profile__pic" src="<%= user.user_pfp || '/images/pfp.png' %>" alt="">
                <div class="profile__mainframe">
                    <div class="profile__info">
                        <h2 class="profile__name"><%= user.user_name || '???' %></h2>
                        <p class="profile__bio">
                            <%= user.user_desc || 'Olá! Sou novo no TravelBuddy!' %>
                        </p>
                    </div>
                    <div class="profile__stats">
                        <p class="info__stats"><%= seguidores.length || 0 %> seguidores</p>
                        <% if(user.user_id !== user_id) { %>
                            <%- include('partials/seguir',{seguindo}) %>
                        <% } %>
                    </div>
                </div>
                
            </section>

            <section class="destino__grid">
                <% videos.forEach(video =>  { %>
                    <%- include('partials/minivideo', {video}) %>
                <% }) %>
            </section>

            <section class="post">
                <% posts.forEach(post =>  { %>
                    <%- include('partials/post', {post}) %>
                <% }) %>
            </section>
        </main>
    </div>
</body>
</html>